---
layout: base.njk
pageCss: about
---
<section class="content-page">
    <div class="content-container">
        {% if title %}<h1 class="page-title">{{ title }}</h1>{% endif %}
        {% if intro %}<p class="page-intro">{{ intro }}</p>{% endif %}
        <div class="page-body">
            {{ content | safe }}
        </div>
    </div>
</section>
